In [22]:
import pandas as pd

In [20]:
# Loading Data
data = pd.read_csv('mystery_data.csv')

In [23]:
#assigning Name
data.columns = ["ID", "Math", "Gender", "StudyHours", "Science"]

In [24]:
#Printing starting Five rows

print(data.head())

    ID  Math Gender  StudyHours  Science
0  102    90      M        10.3       97
1  103    84      F         7.7       98
2  104    52      M        11.6       98
3  105    43      F         8.4       47
4  106    40      M         8.8       60

In [12]:
# Justification for each column name:
# "ID"         - Unique increasing integers typical of identifiers.
# "Math"       - Values in exam score range, likely Math scores.
# "Gender"     - Contains 'M' and 'F', indicating Male/Female.
# "StudyHours" - Decimal values, reasonable for hours spent studying.
# "Science"    - Score-like values similar to Math, likely another subject.

In [26]:
import pandas as pd

df = pd.read_csv('mystery_data.csv', header=None)

# This line selects only columns 0 through 4 from the DataFrame.
df = df[[0, 1, 2, 3, 4]]
#This line creates a new column called TotalScore.
df["TotalScore"] = df[1] + df[4]

print(df)

      0   1  2     3   4  TotalScore
0   101  40  M   5.6  45          85
1   102  90  M  10.3  97         187
2   103  84  F   7.7  98         182
3   104  52  M  11.6  98         150
4   105  43  F   8.4  47          90
..  ...  .. ..   ...  ..         ...
95  196  42  M  10.2  61         103
96  197  66  M  10.9  65         131
97  198  68  F  10.6  58         126
98  199  71  M   7.9  53         124
99  200  89  M  10.1  90         179

[100 rows x 6 columns]

SyntaxError: invalid syntax (ipython-input-27-2861011532.py, line 1)